
#layout-list-dialog.modal-content {
    position: relative;
    left: 50%;
    margin: auto;
    margin-left: -300px;
    width: 600px;
}

#layout-list-dialog .layout-list {
    clear: both;
    max-height: 400px;
    overflow-y: auto;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    min-height: 200px;
}

#layout-list-dialog .layout-list-search {
    margin-right: 20px;
}

#layout-list-dialog .layout-list>li {
    list-style: none;
    float: left;
    width: 158px;
    /*height: 100px;*/
    line-height: 80px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0px 10px 31px;
}

#layout-list-dialog .layout-list>li>div {
    height: 90px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.2);
}

#layout-list-dialog .layout-list>li>span {
    height: 20px;
    width: 100%;
    line-height: 20px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

#layout-list-dialog .text-center {
    text-align: center;
}
